# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# App entitlements backup
*.entitlements~

# User-specific files
*.swp
*.swo
*.tmp

# Other
*.log

# Ignore by default
!*.entitlements

# Disk Images
*.dmg
